atomicwrites==1.4.0
attrs==19.3.0
certifi==2020.6.20
colorama==0.4.3
coverage==5.2.1
flake8==3.8.3
importlib-metadata @ file:///C:/ci/importlib-metadata_1593446511143/work
iniconfig @ file:///tmp/build/80754af9/iniconfig_1596827328212/work
mccabe==0.6.1
more-itertools==8.4.0
packaging==20.4
pluggy==0.13.1
py @ file:///tmp/build/80754af9/py_1593446248552/work
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pytest==6.0.1
pytest-cov @ file:///tmp/build/80754af9/pytest-cov_1597600886872/work
six==1.15.0
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
wincertstore==0.2
zipp==3.1.0
